language: python
python:
 - "2.7"
 - "2.6"
 - "3.2"
 - "3.3"
 - "3.4"
 - "3.5"
 - "3.6"
script: python setup.py test

install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi
